/* .form{
    position: absolute;  
    top: 20%;
    left:38%;
    right: auto;
    bottom: auto;
}

.tab{
    background-color: white;
    border: none;
}
.btn{
 right: -20%;
 top: 10%;
 bottom: 10%;
}
.card{
    padding: 35px;
} */
/* .tab1{
    width: 120px;
    margin-right: 5px;
    margin-left: 10px;
}
lable{
    padding: 10px 5px;  */
/* }
.form-control{
    margin-left:20px;
    margin-right: 20px;
}
.text{
    padding: 10px;
    margin-top:5px ;
    margin-bottom: 8px;
    border-radius: 5px;
}
.button{
   /* transform: translateX(100%); */
   /* padding: 8px;
   border:none;
   background-color: #3f51b5;
   color: white;
   margin-left: 35%;
   border-radius: 5px;
} */